@use "../../../scss/" as *;

.reviews {
  &-detail-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left {
      @include flex(center, flex-start);
      & > * ~ * {
        margin-left: 5px;
      }
    }
    &-quantity {
      font-size: 30px;
      font-weight: 600;
      font-family: $titleFont;
      span {
        input {
          color: $brown25;
        }
      }
    }
  }

  &-comments {
    margin-top: 40px;
    & > * ~ * {
      margin-top: 20px;
    }
    &-content {
      @include flex(center, flex-start);
    }

    &-body {
      border-left: 1px solid $gray25;
      height: 100%;
      padding-left: 40px;

      .reviews {
        &-name {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
        }
        &-date {
          margin-top: 5px;
          font-size: 12px;
          font-weight: 500;
          color: $brown25;
          text-decoration: underline;
        }

        &-rating {
          margin-top: 10px;
        }

        &-desc {
          max-height: 80px;
          height: fit-content;
          overflow-y: auto;
          letter-spacing: 0.5px;
          margin-top: 20px;
          font: normal 300 16px/22px $titleFont;
        }
      }
    }
  }

  &-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 40px;
  }
}
