@use "../../../scss/" as *;

.boxbooking {
  position: relative;
  max-width: $max-width;
  margin: -9.2rem auto 0;

  -webkit-box-shadow: 0px 13px 43px 0px rgb(6 28 52 / 23%);
  box-shadow: 0px 13px 43px 0px rgb(6 28 52 / 23%);
  color: #e5e8eb;
  &-section {
    width: 100%;
    display: flex;
    align-items: center;
    @include screen950 {
      flex-direction: column;
    }
    &-input {
      //   flex: 1;
      width: 100%;
      background: #253961;
      padding: 30px 30px 30px 40px;
      height: 150px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      gap: 20px;
      @include screen950 {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        gap: 20px;
        height: 100%;
      }
      .inputField {
        & > * ~ * {
          margin-top: 8px;
        }

        &-title {
          font-weight: 400;
          font-size: 16;
        }
        fieldset {
          visibility: hidden;
        }
        .textField {
          min-width: 200px;
          width: 100%;
          height: 52px !important;
          border-radius: 0 !important;
          background-color: #252e59;
          border: 1px solid rgba(127, 160, 198, 0.14);
          color: #8b9fb9;
        }
        .selectField {
          min-width: 100px;
          width: 100%;
          height: 52px;
          border-radius: 0 !important;
          background-color: #252e59;
          border: 1px solid rgba(127, 160, 198, 0.14);
          color: #8b9fb9;
        }
      }
    }

    &-search {
      background-color: #3f9cc1;
      padding: 28px 20px;
      height: 150px;
      width: 195px;
      cursor: pointer;
      @include flex(center, center);
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      @include screen950 {
        height: 100%;
        width: 100%;
      }

      &:active {
        background-color: #3f9cf9;
      }
    }
  }
}
