.add-room-apartment{
    display: flex;
    justify-content: end;
    margin-right: 24px;
    margin-bottom: 24px;
    p{
        width: max-content;
        padding: 15px 25px;
            color: #333;
            border-radius: 12px;
            display: grid;
            border: 1px solid #e8e8e8;
            place-items: center;
            font-size: 16px ;
            cursor: pointer;
    }
}