@use "../../../scss/"as *;
.blog-a {
    @include screen750 {
        display: none;
    }
    h2{
        width: 100%;
        color: #333;
        padding: 20px 0;
        cursor: pointer;
        padding-right: 20%;
        border-right: 1px solid #333 ;
    }
}
.blog-aSelect {
    @include screen750 {
        display: none;
    }
    h2{
        width: 100%;
        color: #333;
        padding: 20px 0;
        font-weight: 600;
        cursor: pointer;
        padding-right: 20%;
        border-right: 3px solid #333 ;
    }

}

.blog-a:focus, .blog-aSelect:focus,.menu-icon:focus {
    text-decoration: none;
    color: #333;
}

.menu-icon{
    color: #333;
    font-size: 14px;
    width: max-content;
    display: none;
    cursor: pointer;
    @include screen750 {
        display: block;
    }
}