@use "../../../scss/" as *;

.review-one {
  padding: 60px 10%;
  &-row-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .colum-one {
      .highlinght {
        width: 70px;
        height: 4px;
        background-color: #c1b086;
        margin: 7px 0;
      }

      .content {
        margin: 0 0 1em;
        font-weight: 600;
        font-size: 12px;
        color: #000;
      }
      .title {
        font-family: $titleFont;
        font-size: 1.9375rem;
        color: #222;
        line-height: 1.4;
        font-weight: 400;
        letter-spacing: -0.5px;
        margin: 0;
      }
    }
    .colum-two {
      .btn {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        padding: 0;
        margin: 0;
      }
    }
  }

  &-row-two {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    .review-image {
        margin: 0;
        width: 30%;
        height: 40%;
        background-color: #f1eeee;

        .row-one {
            width: 100%;
            height: 70%;

            .image {
                width: 100%;
                height: 100%;
            }
        }

        .row-two {
            padding: 1.875rem 2.5rem;

            .name {
                font-size: 23px;
                text-align: left;
                color: #222;
                cursor: pointer;
                font-family: "Noto Serif", serif;
                line-height: 1.4;
                font-weight: 400;
                letter-spacing: -0.5px;
            }

            .name:hover {
                color: #c1b086;
            }

            p {
                padding-top: 5px;

                .span-one {
                    color: #222222;
                    font-family: "Open Sans", sans-serif;
                    font-size: 20px;
                }

                .span-two {
                    color: #5f6060;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                    line-height: 1.75;
                }
            }
        }
    }

    @include screen1199 {
        .review-image {
            .row-two {
                .name {
                    font-size: 20px;
                }

                p {
                    .span-one {
                        font-size: 18px;
                    }

                    .span-two {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @include screen950 {
      display: block;
        .review-image {
            margin: auto;
            width: 90%;
            height: 40%;
            .row-one {
              margin-top: 25px;
            }
        }
    }

    @include screen750 {
        padding-top: 45px;
    }
}

  .slider {
    width: 100%;
    padding-top: 50px;
    @include screen750 {
      padding-top: 85px;
    }
    .slideshow {
      position: relative;
      display: flex;
      justify-content: space-between;

      .mainImg {
        width: 23%;
        height: 350px;
        transition: all 500ms;
        object-fit: cover;
      }

      @include screen950 {
        .main-img-three,
        .main-img-four {
          display: none;
          visibility: hidden;
        }

        .mainImg {
          width: 48%;
        }
      }

      @include screen650 {
        .main-img-two {
          display: none;
          visibility: hidden;
        }
        .mainImg {
          width: 100%;
        }
      }
    }
    .actions {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .actions button {
      background: #0000003d;
      border: none;
      cursor: pointer;
      padding: 10px;
      padding-top: 10px;
      margin: 5px;
      border-radius: 15px;
      padding-top: 5px;
    }

    .actions button:active {
      background: #000000a2;
      border: none;
      cursor: pointer;
      padding: 10px;
      padding-top: 10px;
      margin: 5px;
      border-radius: 15px;
      padding-top: 5px;
    }
  }
}
