@use "../../../scss/"as *;
.my-blog{
    padding: 1%;
    &-container{
        margin: 1% 0;
        display: flex;
        justify-content: space-between;
        &-colum-one{
            width: 15%;
            justify-content: end;
            text-align: center;
            @include screen750 {
                width: max-content;
            }
        }
        &-colum-two{
            width: 82%;
            @include screen750 {
                width: 100%;
            }
        }

    }
}