@use "../../scss/" as *;

.profile {
    &-container {
        &-row-one {
            height: 35vh;
            width: 100%;
            background-image: url("../../assets/images/profile.png");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 40px;
                color: #fff;
                font-weight: 500;
            }
        }

        &-row-two {
            padding: 2%;

            &-container {
                margin: 2% 0;
                display: flex;
                justify-content: space-between;

                .colum-one {
                    width: 25%;
                    display: flex;
                    justify-content: end;
                    text-align: center;

                    @include screen750 {
                        width: 40px;
                    }

                    &-container {
                        @include screen750 {
                            width: 100%;
                        }

                        width: 70%;

                        &-logout {
                            @include screen750 {
                                display: none;
                            }

                            width: 100%;
                            color: #333;
                            padding: 20px 0;
                            cursor: pointer;
                            padding-right: 20%;
                            border-right: 1px solid #333;
                        }
                    }
                }

                .colum-two {
                    width: 73%;

                    @include screen750 {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    form {
                        width: 80%;

                        h1 {
                            font-family: "Noto Serif", serif;
                            color: #222;
                            line-height: 1.4;
                            font-weight: 500;
                            letter-spacing: -0.5px;
                            font-size: 30px;
                            margin-bottom: 12px;
                        }

                        .text-field {
                            width: 100%;
                            margin: 10px;
                            outline: #222;
                        }

                        button {
                            width: max-content;
                            background-color: #222;
                            color: #fff;
                            font-family: "Noto Serif", serif;
                            border-radius: 4px;
                            padding: 15px 30px;
                            font-weight: 500;
                            font-style: italic;
                            font-size: 20px;
                            margin: 20px 10px;
                        }

                    }
                }
            }
        }

    }
}