@use "../../../scss/" as *;

.result-search {
  margin: 4% 0;
  box-shadow: 1px 1px 18px 1px #e0e0e0;
  &-container {
    background-color: #ffffff;
    padding: 20px ;
    border-bottom: 1px solid #a4a4a4;

    &-title {
      font-family: "Noto Serif", serif;
      color: #222;
      margin: 0.2em 0 0.5em;
      line-height: 1.4;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: -0.5px;
    }
    &-title:hover {
      color: #c1b086;
    }
    &-description {
      color: #5f6060;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.75;
    }
    &-one {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @include screen950 {
        display: block;
      }
      .colum-one {
       flex: 1;
        padding-right: 20px;
        // border-right: 1px solid #e7e4e4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include screen950 {
          width: 100%;
          border-right: none;
          padding-right: 0;
        }
        .result-search-img {
          width: 100%;
          cursor: pointer;
          img{
            width: 100%;
            height: 220px;
          }
        }
        .result-search-img:hover .actions {
          opacity: 1;
        }
        .row-two {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          @include screen750 {
            display: block;
          }

          .review-colum-one {
            width: 50%;
            @include screen750 {
              width: 100%;
            }
          }

          .review-colum-two {
            width: 50%;
            @include screen750 {
              width: 100%;
            }
          }
        }
      }

      .colum-two {
        flex:1;
        &-description {
          // margin: 20px 0;
          color: #5f6060;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          // line-height: 1.75;
        
          margin-bottom: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          line-height: 1.5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }

       
      }
    }
  }
}

.list-room{
  padding: 20px;
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 20px;
  }
  &-title{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }

  &-show{
    padding-top: 20px;
  }
  &-name{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  &-description{
    
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
  }
  &-price{
    color: $brown25;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
  }
  .row-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.popup-login{
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  img{
    width: 50%;
    height: 100%;
    // text-align: center;
    padding-bottom: 15px;
  }
  &-title{
    // color: $brown25;
    line-height: 20px;
    font-family: "Noto Serif", serif !important;
    font-size: 20px;
    font-style: italic;
  }

  .inputField{
    padding: 10px 0 ;
    fieldset {
      visibility: hidden;
    }
    p{
       
    font-family: "Noto Serif", serif !important;
    font-size: 18px;
    font-weight: 600;
    }
    .textField{
      min-width: 200px;
      width: 100%;
      //   height: 52px !important;
      //   border-radius: 0 !important;
      //   background-color: #252e59;
      border: 1px solid black;
      color: #a4a4a4;
      margin-top: 10px;
      input {
        padding: 10px;
      }
    }
   
  }
  .button-submit{
    padding: 10px 10px;
    background-color: #222;
    color: #e0e0e0;
    // margin: 0 15%;
    width: 150px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    // border-radius: 8px;
  }

  .btn-signup{
    font-family: "Noto Serif", serif !important;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    a{
      color: #c1b086;
      font-style: italic;
    }
  }
}