@use "../../../../scss/" as *;
.add-room {
  width: 100%;
  padding: 15px;
  border-radius: 9px;
  border: 1px solid #e8e8e8;
  margin-bottom: 24px;
  &-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    @include screen550 {
      display: flex;
      flex-direction: column;
    }
    &-one {
      width: 32%;
      @include screen550 {
        width: 100%;
      }
    }
    &-two {
      width: 66%;
      @include screen550 {
        width: 100%;
      }
    }
    &-p {
      display: none;
      @include screen550 {
        display: block;
        height: 24px;
      }
    }

    &-three {
      width: 33%;
      @include screen550 {
        width: 100%;
      }
    }

    &-type {
      width: 33%;
      display: flex;
      flex-direction: column;
      @include screen550 {
        width: 100%;
      }
    }
  }

  &-facilities {
    width: 100%;
  }

  &-input-img {
    width: 100%;
    &-input {
      display: none;
    }

    &-label-holder {
      width: max-content;
      margin-top: 5px;
      &-label {
        border-radius: 12px;
        display: grid;
        place-items: center;
        font-size: 16px;
        cursor: pointer;
      }
    }

    &-result {
      width: 100%;
      display: flex;
      margin-top: 8px;
      justify-content: start;
      flex-wrap: wrap;
      &-img {
        width: 33%;
        object-fit: cover;
        margin-left: 1px;
        margin-top: 20px;
      }
    }
  }
}
