@use "../../scss/" as *;

.review-container {
    display: flex;
    margin-top: 12px;
    &-icon {
        color: #c1b086;
        margin-right: 8px;
        padding-top: 4px;
        width: 20px;
    }

    &-text {
        color: #5f6060;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.75;
        .review-container-hover:hover {
            cursor: pointer;
            color: #c1b086;
        }
    }
}

