@use "../../scss/" as *;

.page-header {
  width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-star {
    img {
      width: 120px;
      height: 22px;
    }
    margin-bottom: 25px;
  }

  &-title {
    h1 {
      font-size: 40px;
      font-family: "Noto Serif", serif;
      line-height: 1.4;
      font-weight: 600;
    }
  }
}
