.order {
    &-container {
        &-row-one {
            height: 35vh;
            width: 100%;
            background-image: url("../../../assets/images/profile.png");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 40px;
                color: #fff;
                font-weight: 500;
            }
        }

        &-row-two {
            padding: 2%;

            &-container {
                margin: 2% 0;
                display: flex;
                justify-content: space-between;

                .colum-one {
                    width: 25%;
                    display: flex;
                    justify-content: end;
                    text-align: center;

                    &-container {
                        width: 70%;

                        &-logout {
                            width: 100%;
                            color: #333;
                            padding: 20px 0;
                            cursor: pointer;
                            padding-right: 20%;
                            border-right: 1px solid #333;
                        }
                    }
                }

                .colum-two {
                    width: 73%;

                    &-container {
                        width: 100%;

                        &-title {
                            font-family: "Noto Serif", serif;
                            color: #222;
                            line-height: 1.4;
                            font-weight: 500;
                            letter-spacing: -0.5px;
                            font-size: 30px;
                            margin-bottom: 12px;
                        }

                        &-description {
                            display: none;
                            font-size: 20px;
                            width: 80%;
                            color: #222;
                            font-family: "Open Sans", sans-serif;
                            line-height: 1.75;
                            margin-bottom: 12px;
                            font-style: italic;
                            text-align: center;
                        }

                        .table-order {
                            &-row {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                cursor: pointer;
                                .table-order-colum-one {
                                    width: 30%;
                                    text-align: center;
                                    font-size: 18px;
                                    color: #222;
                                    font-family: "Open Sans", sans-serif;
                                    line-height: 1.75;
                                    margin-bottom: 12px;
                                }

                                .table-order-colum-two {
                                    width: 20%;
                                    text-align: center;
                                    font-size: 18px;
                                    color: #222;
                                    font-family: "Open Sans", sans-serif;
                                    line-height: 1.75;
                                    margin-bottom: 12px;
                                }

                                .table-title {
                                    font-size: 20px;
                                    font-weight: 600;
                                    cursor: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}