@use "../../scss/" as *;

.checkout {
  &-page {
    margin-bottom: 30px;
  }
  &-detail {
    margin-top: 65px;
    & > * ~ * {
      margin-top: 20px !important;
    }
  }

  &-content {
    @include boxShadow(20px, rgb(6 28 52 / 10%));
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    &-date {
      border-bottom: 1px solid $gray25;
      padding-bottom: 40px;
      margin-bottom: 40px;
      & > * ~ * {
        margin-top: 25px;
      }
    }

    &-price {
      table,
      td,
      th {
        border: 1px solid $gray25;
        padding: 15px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th {
        text-align: left;
        span {
          color: #222;
        }
      }
    }
  }

  &-title {
    @include titleFont(24px, 400, "df");
    padding-bottom: 10px;
  }

  &-key {
    span {
      strong {
        font-weight: 500;
      }
    }
  }

  &-accommodation {
    & > * ~ * {
      margin-top: 25px;
    }

    .inputField {
      fieldset {
        visibility: hidden;
      }
      &-title {
        @include titleFont(14px, 400, "");
        margin-bottom: 20px;
      }
      .selectField,
      .textField {
        width: 500px;
        border: 1px solid $gray25 !important;
        border-radius: 0 !important;
      }
    }
  }

  &-information {
    & > * ~ * {
      margin-top: 25px;
    }
    .inputField {
      fieldset {
        visibility: hidden;
      }
      &-title {
        @include titleFont(14px, 400, "");
        margin-bottom: 15px;
      }
      .selectField,
      .textField {
        width: 500px;
        border: 1px solid $gray25 !important;
        border-radius: 0 !important;
      }
    }
  }

  &-payment {
    .payment-selection {
      margin-top: 25px;
    }
    .payment-item {
      display: flex;
      align-items: center;
      flex-direction: "row";
      background-color: "redz ";
    }
    .payment-label {
      @include titleFont(18px, 600, "");
    }
  }
}
