@use "../../scss/" as *;
.image-gallery {
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(1, minmax(180px, 1fr));
  gap: 25px;

  width: fit-content;

  @include screen850 {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .image-item {
    // padding: 0 4px;
    cursor: pointer;
    @include boxShadow(50px, rgb(6 28 52 / 23%));
    width: 100%;
  }
}
