.auth {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  &_title {
    font-size: 45px;
    font-weight: 600;
    font-family: "Noto Serif", serif !important;
    line-height: 20px;
  }
  &_content {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    font-family: "Noto Serif", serif !important;
    line-height: 16px;
  }

  &_btn {
    margin-top: 30px;
  }
}
