@use "../../scss/" as *;

.signup-page {
  &-container {
    background-color: white;
    display: flex;
    justify-content: space-between;

    &-colum-one {
      @include screen1199 {
        display: none;
      }
      width: 50%;
      height: 100%;
      .signup-slide-show {
        width: 100%;
        cursor: pointer;

        .slideshow {
          position: relative;
          display: flex;
          justify-content: space-between;

          .mainImg {
            width: 100%;
            height: 100vh;
            @include screen1199 {
              height: auto;
            }
            transition: all 500ms;
            object-fit: fill;
          }

          .actions {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            opacity: 0;
            justify-content: space-between;
          }

          .actions button {
            background: #ffffffa2;
            border: none;
            cursor: pointer;
            padding: 10px;
            margin: 5px;
            border-radius: 15px;
          }

          .actions button:active {
            background: #000000a2;
            border: none;
            cursor: pointer;
            padding: 10px;
            margin: 5px;
            border-radius: 15px;
          }
        }
      }

      .signup-slide-show:hover .actions {
        opacity: 1;
      }
    }

    &-colum-two {
      width: 45%;
      @include screen1199 {
        width: 100%;
      }
      &-logo {
        margin-top: 25px;
        @include screen1199 {
          margin: 0 auto;
          margin-top: 25px;
        }
      }

      &-title {
        font-family: "Noto Serif", serif;
        color: #222;
        line-height: 1.4;
        font-size: 31px;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 12px;
        letter-spacing: -0.5px;
        @include screen1199 {
          text-align: center;
        }
      }

      &-description {
        @include screen1199 {
          text-align: center;
        }
        color: #222;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.75;
        margin-top: 10px;
        margin-left: 14px;
        margin-bottom: 20px;
      }

      &-box-input {
        @include screen1199 {
          width: 30%;
          margin-left: 35%;
          margin-right: 35%;
        }

        @include screen650 {
          width: 50%;
          margin-left: 25%;
          margin-right: 25%;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 15%;
        label {
          font-family: "Open Sans", serif;
          color: #222;
          line-height: 1.4;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.5px;
        }

        input {
          border: 1px solid #c4c4c4;
          border-radius: 4px;
          padding: 5px 10px;
          margin-bottom: 15px;
          margin-top: 5px;
          margin-left: 5px;
        }

        input:focus {
          outline: #c1b086;
          border: 2px solid #c1b086;
        }
      }

      button {
        @include screen1199 {
          width: 30%;
          margin-top: 25px;
          margin: 0 35%;
        }

        @include screen650 {
          width: 50%;
          margin-left: 25%;
        }
        padding: 10px 20px;
        background-color: #222;
        color: #e0e0e0;
        margin: 0 15%;
        width: 50%;
        font-weight: 600;
        font-size: 18px;
        margin-top: 15px;
        border-radius: 8px;
      }

      .sign-up-gg {
        @include screen1199 {
          width: 30%;
          margin-left: 35%;
          margin-right: 35%;
        }

        @include screen650 {
          width: 50%;
          margin-left: 25%;
          margin-right: 25%;
        }
        box-shadow: 1px 1px 18px 1px #e0e0e0;
        border: 1px solid #c4c4c4;
        border-radius: 8px;
        width: 50%;
        margin: 0 15%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        p {
          margin-left: 10px;
        }
      }

      .sign-up-fb {
        @include screen1199 {
          width: 30%;
          margin-left: 35%;
          margin-right: 35%;
        }

        @include screen650 {
          width: 50%;
          margin-left: 25%;
          margin-right: 25%;
        }
        box-shadow: 1px 1px 18px 1px #e0e0e0;
        border: 1px solid #c4c4c4;
        border-radius: 8px;
        width: 50%;
        margin: 0 15%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        p {
          margin-left: 10px;
        }

        img {
          width: 28px;
          margin: 4px;
        }
      }

      .to-sign-in {
        @include screen1199 {
          text-align: center;
        }
        margin: 0 15%;
        margin-top: 28px;
        color: #222;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.75;
        font-style: italic;
        cursor: pointer;
        .span-two {
          font-weight: 600;
        }
      }
    }
  }
}
