//color
$white: #fff;
$brown25: #c1b086;
$blue100: #252e59;
$mainPadding: 20px;

//font
$titleFont: "Noto Serif", serif;
$primaryFont: "Open Sans", sans-serif;

//scale
$max-width: 1210px;
$max-width-content: 1100px;

//responsive
$screen1199: 1199px;
$screen950: 950px;
$screen850: 850px;
$screen750: 750px;
$screen650: 650px;
$screen450: 450px;
$screen350: 350px;
