$white: #fff;
$brown25: #c1b086;

$max-width: 1210px;
$max-width-content: 1100px;

$screen1199: 1199px;
$screen950: 950px;
$screen850: 850px;
$screen750: 750px;
$screen650: 650px;
$screen450: 450px;
$screen350: 350px;
